In [4]:
# Part 1: Load a Dataset & Check Missing Values

# Task 1: Titanic Dataset
# - Load the dataset using Pandas.
# - Check for missing values in the 'Age' column.
import pandas as pd

# Load Titanic dataset (from seaborn for convenience)
import seaborn as sns
df = sns.load_dataset('titanic')

# Display missing values in 'Age' column
missing_age = df['age'].isnull().sum()
print(f"Missing values in 'Age': {missing_age}")







# Part 2: Identify Duplicates & Inconsistencies

# Task 2: Duplicate Rows in Titanic Dataset
# - Identify any duplicate rows in the dataset.

# Check for duplicate rows
duplicate_rows = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")









# Part 3: Generate a Data Quality Report

# Task 3: Titanic Dataset Overview
# - Create a simple report of missing values, duplicates, and some basic statistics for the Titanic dataset.

# Generate missing values report
missing_report = df.isnull().sum().reset_index()
missing_report.columns = ['Column', 'Missing Values']

# Basic statistics
basic_stats = df.describe(include='all')

# Print full report
print("\n--- Missing Values Report ---")
print(missing_report)

print("\n--- Number of Duplicates ---")
print(duplicate_rows)

print("\n--- Basic Dataset Statistics ---")
print(basic_stats)

Missing values in 'Age': 177
Number of duplicate rows: 107

--- Missing Values Report ---
         Column  Missing Values
0      survived               0
1        pclass               0
2           sex               0
3           age             177
4         sibsp               0
5         parch               0
6          fare               0
7      embarked               2
8         class               0
9           who               0
10   adult_male               0
11         deck             688
12  embark_town               2
13        alive               0
14        alone               0

--- Number of Duplicates ---
107

--- Basic Dataset Statistics ---
          survived      pclass   sex         age       sibsp       parch  \
count   891.000000  891.000000   891  714.000000  891.000000  891.000000
unique         NaN         NaN     2         NaN         NaN         NaN
top            NaN         NaN  male         NaN         NaN         NaN
freq           NaN         NaN   577         NaN         NaN         NaN
mean      0.383838    2.308642   NaN   29.699118    0.523008    0.381594
std       0.486592    0.836071   NaN   14.526497    1.102743    0.806057
min       0.000000    1.000000   NaN    0.420000    0.000000    0.000000
25%       0.000000    2.000000   NaN   20.125000    0.000000    0.000000
50%       0.000000    3.000000   NaN   28.000000    0.000000    0.000000
75%       1.000000    3.000000   NaN   38.000000    1.000000    0.000000
max       1.000000    3.000000   NaN   80.000000    8.000000    6.000000

              fare embarked  class  who adult_male deck  embark_town alive  \
count   891.000000      889    891  891        891  203          889   891
unique         NaN        3      3    3          2    7            3     2
top            NaN        S  Third  man       True    C  Southampton    no
freq           NaN      644    491  537        537   59          644   549
mean     32.204208      NaN    NaN  NaN        NaN  NaN          NaN   NaN
std      49.693429      NaN    NaN  NaN        NaN  NaN          NaN   NaN
min       0.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
25%       7.910400      NaN    NaN  NaN        NaN  NaN          NaN   NaN
50%      14.454200      NaN    NaN  NaN        NaN  NaN          NaN   NaN
75%      31.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
max     512.329200      NaN    NaN  NaN        NaN  NaN          NaN   NaN

       alone
count    891
unique     2
top     True
freq     537
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN